@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary:hover{
    @apply bg-slate-500 text-white !important
}
.ant-btn-primary:focus {
  @apply bg-green-300 text-slate-50 !important
}
.ant-tooltip-inner{
  display: none;
}

.ant-form-item-required{
  color:aliceblue !important;
}
.ant-upload{
  background-color: rgb(163, 164, 171);
  color: black !important;
}

.boxMission{
    height:70px;
    width:70px;
    border-radius: 10px;
    box-shadow: 0 0 5px 4px #c7c6c5;

}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}